<h1 align="center">Welcome to <%= @user.name %>'s page</h1>

    <br>
    <hr>

    <div class="row" id="container_posts">
        <%= render 'posts/posts', obj: @user.posts %>
    </div>

  <!-- Modal dynamics dialog -->
  <%= render 'posts/dialog' %>