    <div class="row">
      <div class="text-center">
          <!-- Button trigger modal -->
          <% if current_user %>
            <%= link_to "New Post", new_post_path, remote: true, class: "btn btn-primary btn-lg" %>
          <% else %>
            <%= link_to("New Post", new_post_path, remote: false,
                                           class: "btn btn-primary btn-lg",
                                           flash: {:notice => "Need to login to view this page"}) %>
          <% end %>
      </div>
    </div>
    <br>
    <hr>

    <div class="row" id="container_posts">
        <%= render @posts %>
    </div>

  <!-- Modal dynamics dialog -->
  <%= render 'dialog' %>
